/* Font Definitions */
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Thin.ttf");
		font-weight: 100;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-ThinItalic.ttf");
		font-weight: 100;
		font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Light.ttf");
		font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-LightItalic.ttf");
		font-weight: 300;
		font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
		font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Italic.ttf");
		font-weight: 400;
		font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Medium.ttf");
		font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-MediumItalic.ttf");
		font-weight: 500;
		font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Bold.ttf");
		font-weight: 700;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-BoldItalic.ttf");
		font-weight: 700;
		font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Black.ttf");
		font-weight: 900;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-BlackItalic.ttf");
		font-weight: 900;
		font-style: italic;
}


ul.nav.nav-tabs {
  	display: table;
  	width: 100%;
  	table-layout: fixed;
		height: 72px;
		position: absolute;
    top: 0;
		background-color: white;
    z-index: 2001;
}
ul.nav.nav-tabs > li {
    float: none;
		line-height: 72px;
    display: table-cell;
		width:100%;
}
ul.nav.nav-tabs > li > a {
		display: inline-block;
		transition: all 0.15s;
		-webkit-transition: all 0.15s;
    z-index: 2003;
}
.tab-pane {
	padding-top: 72px !important;
}
.connect {
	position: absolute;
	width: 500px;
	margin-left: calc(50% - 250px);
  z-index: 2002;
}
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.container {
	min-height: 100%;
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-trigger {
	text-align: center;
	position: absolute;
	width: 100px;
	border-radius: 2px;
	top: 100px;
	margin-left: calc(50% - 50px);
}

/* DO NOT TOUCH BELOW */

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-scale .md-content {
	-webkit-transform: translateY(20%);
	-moz-transform: translateY(20%);
	-ms-transform: translateY(20%);
	transform: translateY(20%);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-scale .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}
