/* GENERAL CUSTOMIZATION */
.container {
	background-color: #ffffff;
}
.md-modal {
	width: 640px;
	height: auto;
	border-radius: 2px;
	font-family: 'Roboto', sans-serif;
}
.md-content {
	color: rgba(0,0,0,0.9);
	position: relative;
	margin: 0 auto;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	background-color: #fff;
	border-radius: 2px;
	width: 640px;
}

.md-footer {
	height: 52px;
	width: 100%;
	text-align: right;
	border-top: 1px solid rgba(0,0,0,0.4);
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	bottom: 0;
}

.md-btn {
	font-size: 12pt;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	height: 36px;
	width: auto;
	float: right;
	border-radius: 2px;
	line-height: 36px;
	text-align: center;
	margin: 8px;
	padding-left: 8px;
	padding-right: 8px;
	min-width: 72px;
	cursor: pointer;
	text-transform: uppercase;
	color: #fff;
	transition: all 0.15s;
	-webkit-transition: all 0.15s;
}
.md-btn:hover {
	background-color: rgba(0,0,0,0.1);
}
.md-btn:active {
	background-color: rgba(0,0,0,0.3);
}

.md-trigger:hover {
	background-color: red;
	color: yellow;
	transition: 2s;
	transform: rotate(90deg);
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: 10px 10px 10px;

}
.md-trigger
{
	background-image: blue;
	height: 100px;
	width: 100px;
}

/* STEPPER CUSTOMIZATION */
.tabid {
	background-color: #2196F3;
	border-radius: 100px;
	padding: 100px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 8px;
	color: white;
}
.connect {
	height: 1px;
	background-color: rgba(0,0,0,0.2);
	margin-top: 36px;
	/*
			If you change the height, subtract
			the new height from 37 to keep it
			vertically centered in the stepper
	*/
}
.tab-pane {
	min-height: 400px;
	background-position: center center;
	background-size: cover;
}
.active {
	font-weight: bold;
}
ul.nav.nav-tabs > li > a {
	/*
			The following 3 lines marked with
			!important reset the CSS from
			Bootstrap's UI.
	*/
	text-align: center !important;
	color: #000000 !important;
	border-width: 0 !important;
	background-color: #ffffff;
}
ul.nav.nav-tabs > li {
	text-align: center;
	background-color: #ffffff;
}
ul.nav.nav-tabs {
	/*
			If you want to change the height
			of the Stepper, change it below,
			as well as in the core.css file
			under .TAB-PANE (padding-top), and
			under UL.NAV.NAV-TABS > LI (line-height).
			All three of these should be the
			same number otherwise you will run
			into issues.
	*/
	height: 72px;
	/*
			If you are looking to change the
			background of the entire stepper,
			change the background below, then
			set UL.NAV.NAV-TABS > li > a and
			UL.NAV.NAV-TABS > LI (from above)
			to rgba(0,0,0,0);
	*/
	background-color: #ffffff;
}
