.md-content {
	color: rgba(0,0,0,0.9);
	position: relative;
	margin: 0 auto;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	background-color: #fff;
	border-radius: 2px;
	width: 640px;
}

.md-footer {
	height: 52px;
	width: 100%;
	text-align: right;
	border-top: 1px solid rgba(0,0,0,0.4);
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	bottom: 0;
}

.md-btn {
	font-size: 12pt;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	height: 36px;
	width: auto;
	float: right;
	border-radius: 2px;
	line-height: 36px;
	text-align: center;
	margin: 8px;
	padding-left: 8px;
	padding-right: 8px;
	min-width: 72px;
	cursor: pointer;
	text-transform: uppercase;
	color: #fff;
	transition: all 0.15s;
	-webkit-transition: all 0.15s;
}
.md-btn:hover {
	background-color: rgba(0,0,0,0.1);
}
.md-btn:active {
	background-color: rgba(0,0,0,0.3);
}

.tabid {
	background-color: #2196F3;
	border-radius: 100px;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 8px;
	color: white;
}
